
.home-container {
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 5%;
    background-color: #333;
    color: white;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  